<div class="body <%= status %>">
    <div class="container">
        <div class="status-icon"><% if (status) { %>😄<% } else { %>😕<% } %></div>
        <div class="status-text"><% if (status) { %>
            Yay, die Machine ist an!
        <% } else { %>
            Ohh, die Machine ist aus!
        <% } %></div>
        <div class="current-table">
            <table>
                <tr><td>Time</td><td colspan="2"><%= current.Time %></td></tr>
                <tr><td>Active Power</td><td><%= current.Power %></td><td>W</td></tr>
                <tr><td>Current</td><td><%= current.Current %></td><td>A</td></tr>
                <tr><td>Apparent Power</td><td><%= current.ApparentPower %></td><td>VA</td></tr>
                <tr><td>Reactive Power</td><td><%= current.ReactivePower %></td><td>VAr</td></tr>
                <tr><td>Power Factor</td><td><%= current.Factor %></td><td></td></tr>
                <tr><td>Energy Total</td><td><%= current.Total %></td><td>kWh</td></tr>
            </table>
        </div>
    </div>
</body>
