<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ascii coffee status</title>
    <link rel="stylesheet" href="/static/main.css" />
    <script src="/static/main.js" async></script>
</head>

<body>
<div id="body" class="<%= Status.Classification %>">
    <div class="container">
        <div class="status-icon" id="status-Icon"><%= Status.Icon %></div>
        <div class="status-message" id="status-Message"><%= Status.Message %></div>
        <div class="data-frame">
            <table>
                <tr>
                    <td>Received</td>
                    <td colspan="2" id="td-Received">
                        <%= DataFrame?.Received ?? "-" %>
                    </td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td colspan="2" id="td-Time">
                        <%= DataFrame?.Time ?? "-" %>
                    </td>
                </tr>
                <tr>
                    <td>Active Power</td>
                    <td id="td-Power">
                        <%= DataFrame?.Power ?? "-" %>
                    </td>
                    <td>W</td>
                </tr>
                <tr>
                    <td>Current</td>
                    <td id="td-Current">
                        <%= DataFrame?.Current ?? "-" %>
                    </td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>Voltage</td>
                    <td id="td-Voltage">
                        <%= DataFrame?.Voltage ?? "-" %>
                    </td>
                    <td>V</td>
                </tr>
                <tr>
                    <td>Apparent Power</td>
                    <td id="td-ApparentPower">
                        <%= DataFrame?.ApparentPower ?? "-" %>
                    </td>
                    <td>VA</td>
                </tr>
                <tr>
                    <td>Reactive Power</td>
                    <td id="td-ReactivePower">
                        <%= DataFrame?.ReactivePower ?? "-" %>
                    </td>
                    <td>VAr</td>
                </tr>
                <tr>
                    <td>Power Factor</td>
                    <td id="td-Factor">
                        <%= DataFrame?.Factor ?? "-" %>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Energy Total</td>
                    <td id="td-Total">
                        <%= DataFrame?.Total ?? "-" %>
                    </td>
                    <td>kWh</td>
                </tr>
            </table>
        </div>
        <div class="links">
            <span>API Routes</span>
            <table>
            <tr><td>Current Status</td><td><a href="/api/status">/api/status</a></td></tr>
            <tr><td>Current DataFrame</td><td><a href="/api/dataframe">/api/dataframe</a></td></tr>
            <tr><td>Status Stream </td><td><a href="/api/stream/status">/api/stream/status</a></td></tr>
            <tr><td>DataFrame Stream</td><td><a href="/api/stream/dataframe">/api/stream/dataframe</a></td></tr>
            <tr><td>Logs</td><td><a href="/logs">/logs</a></td></tr>
            </table>
        </div>
        <div class="enable-notifications" onclick="notifyMe('Notifications successfully enabled!')">Click here to enable notifications</div>
    </div>
</div>
</body>

</html>
